body {
    background-color: #f8f8f8;
    font-family: 'Open Sans', Verdana, sans-serif;
}

#logo {
    background: url('../images/logo.svg') no-repeat left center;
    background-size: contain;
    height: 50px;
    width: 300px;
    padding-left: 70px;
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
}

#mainMenu li a {
    color: #959595;
}

#mainMenu li a:hover {
    color: #40678a;
    font-weight: bold;
}

#mainMenu {
    list-style-type: none;
}

.productHeader {
    font-size: 18px;
    font-weight: 400;
    background-color: white;
}

#productImg {
    width: 150px;
    border: 1px solid #000;
}

#productImg:hover {
    border-color: transparent;
}



#productShortDesc {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

#productFullDesc {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#productFeature {
    border-collapse: collapse;
}

#productFeature td {
    border: 1px solid #000;
}

#productFeature strong {
    color: #6e5037;
}

#productFeature tr td:first-child {
    background: url('../images/chevron-sign-down.svg') no-repeat 2% center;
    background-size: 10%;
    padding-left: 25px;
}

#contactsWrap input[type='text'],
#contactsWrap textarea {
    line-height: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Open Sans', Verdana, sans-serif;
}

#contactsWrap input[type='text'] {
    width: 240px;
    height: 20px;

}

#contactsWrap textarea {
    width: 40%;
    height: 120px;
}

.catalogUnit img {
    width: 180px;
    border: 1px solid #6e5037;
}

.catalogUnit a {
    color: #6e5037;
    font-weight: bold;
}

.catalogUnit p:first-letter {
    font-family: "Times New Roman", serif;
    font-size: 28px;
    color: red;
}

#contactsWrap form input {
    text-transform: capitalize;
}

input[name='email']:focus {
    background-color: rgb(31, 255, 62);

#productLink {
    display: inline-block;
    border: 1px solid #6e5037;
}

#productLink:hover {
    border: 1px solid black;
}



