body {
    margin: 0;
}
.container {
    width: 1500px;
    height: 3365px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 500px;
    background: #abeafa;;
    float: left;
}
.headerInside {
    width: 1170px;
    height: inherit;
    margin: 0 auto;
   }
.main {
    min-height: 800px;
    /*background: green;*/

}
.mainInside {
    min-height: inherit;
    width: 1170px;
    margin: 0 auto;
    /*background: red;*/
}
.mainInsideLeft {
    width: 270px;
    float: left;
    margin-top: -20px;
}
.main_menu {
    width: 100%;
    background: #9ed0db;
    padding: 0;
    margin: 0;

}

.main_menu li {
    list-style-type: none;
}

.main_menu li a {
    display: block;
    padding: 15px 42px;
    font-family: "Roboto Black", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.main_menu li a:hover {
    background: #333333;
    color: white;
}

.main_menu li:first-child a {
    color: white;
    padding: 25px 42px;
    background: #333333;
}
.promo_menu_header {
    box-sizing: border-box;
    background: white;
    margin-top: 30px;
}
.promo_menu{
    background: url("image/growfood.png");
    font-family: fantasy;
    font-style: italic;
    font-size: 36px;
    color: #fff51f;
    text-shadow: 1px 1px 2px #5e5e5e;
    padding: 169px 57px 32px 116px;

}
.mainInsideRight {
    width: 871px;
    float: right;
    margin-top: -20px;
}
.top_new {
    color: #707070;
    font-family: "Roboto Black", sans-serif;
    font-style: italic;
    font-size: 22px;
    padding: 30px;
    background: #daf3ff;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.wrap_prod {
    float: left;
}
.products {
    background: #fff;
    width: 270px;
    height: 320px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    position: relative;
}
.products_new,
.products_hot{
    font-size: 9px;
    font-family: "Roboto Regular", sans-serif;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    text-align: right;
    padding: 7px 4px 0 0;
    box-sizing: border-box;
}
.products_new {
    color: #000;
    background: url("image/new.png");
}
.products_hot {
    color: #000;
    background: url("image/hot.png")no-repeat right top;
}
.products_name {
    width: 160px;
    float: left;
    font-size: 14px;
    font-family: "Roboto Black Italic", sans-serif;
    max-height: 2.2em;
    overflow: hidden;
}
.products_price {
    width: 85px;
    float: right;
    text-align: right;
    font-size: 18px;
    font-family: "Roboto Black Italic", sans-serif;
    line-height: 0.95;
}
.products_top {
    color: #707070;
    font-family: "Roboto Black", sans-serif;
    font-style: italic;
    font-size: 22px;
    text-transform: uppercase;
    padding: 30px;
    background: #f8f8f8;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.products_top_desc {
    float: left;
 }
















.footer {
    width: 100%;
    height: 348px;
    background-color:  #373737;
}
.footerBottom {
    width: 100%;
    height: 47px;
    background-color: #333333;
    float: bottom;
}
.welcom {
    width: 270px;
    height: 250px;
    background: #fff51f;
    position: absolute;
    top: 185px;
    color: black;
    font-family: fantasy;
}
.welcom_header {
    font-family: fantasy;
    font-size: 30px;
    position: relative;
    top: 76px;
    line-height: 1.1;
    text-align: center;
}
.welcom_desc {
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
    top: 94px;
    line-height: 0.8;
    left: 18px;
}
#logo {
    width: 125px;
    height: 125px;
    margin-top: 24px;
    margin-left: 70px;
}
.event {
    position: absolute;
    right: 128px;
    top: 137px;
}
.product-buyBtn {
    color: #000;
    background: #fff51f;
    padding: 19px 28px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    font-family: "Raleway Black", sans-serif;
    display: inline-block;
    text-decoration: none;
}
.product-buyBtn:hover {
    background: #fff;
    text-decoration: none;
    color: black;
}
.topProd {
    color: #fff51f;
    font-family: fantasy;
    text-align: left;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 0.8;
    text-shadow: 1px 1px 2px #5e5e5e;
}
.prod_promo {
    font-family: fantasy;
    font-size: 18px;
    color: black;
    margin-top: 4px;
    line-height: 1.35;
    /*text-shadow: 1px 1px 1px #ffffff;*/
    padding-bottom: 20px;
    padding-top: 10px;
}
.social {
    color: white;
    float: right;
    margin-top: 50px;
    margin-right: 170px;
}
.brands {
    width: 100%;
    float: left;
    background: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.instagram_feed {
    width: 100%;
    float: left;
    background: #eaeaea;
}

.instagram_feed_head {
    width: 100%;
    float: left;
    text-align: center;
    font-family: "Roboto Black Italic", sans-serif;
    font-size: 22px;
    color: #333;
    margin-top: 30px;
}

.instagram_feed_head i {
    font-size: 36px;
    font-weight: bold;
    position: relative;
    bottom: -5px;
}

.instagram_feed_head span {
    font-size: 18px;
}

.instagram_feed_images {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.instagram_feed_images img {
    border: 7px solid #fff;
}

.big_socials {
    width: 100%;
    float: left;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
}

.big_socials > a {
    width: 33.3333333333333333%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.big_socials > a i {
    color: #fff;
    font-size: 4.5rem;
}

.bs_facebook {
    background: #3b5997;
}

.bs_twitter {
    background: #3fccfd;
}

.bs_pinterest {
    background: #cb2027;
}

footer {
    width: 100%;
    float: left;
    height: 350px;
    background: #373737;
    color: #fff;
    font-family: "Roboto Regular", sans-serif;
    font-size: 12px;
}

.footer_container {
    width: 1170px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 43px;
    box-sizing: border-box;
}

.footer_unit_head {
    font-size: 18px;
    font-family: "Raleway Black", sans-serif;
    margin-bottom: 30px;
}

.footer_unit_newsletter_unit {
    width: 250px;
}

.footer_unit_newsletter_text {
    margin-bottom: 20px;
}

.footer_unit_newsletter_unit input,
.footer_unit_newsletter_unit button {
    float: left;
    height: 30px;
    line-height: 30px;
}

.footer_unit_newsletter_unit input {
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    background: #fff51f;
    font-family: "Roboto Bold", sans-serif;
}

.footer_unit_newsletter_unit input:focus,
.footer_unit_newsletter_unit button:active,
.footer_unit_newsletter_unit button:focus {
    outline: none;
}

.footer_unit_newsletter_unit button {
    text-transform: uppercase;
    border: none;
    background: #000;
    color: #fff;
    padding: 0 13px;
    cursor: pointer;
    height: 32px;
}

.footer_unit_newsletter_unit button:hover {
    background: #fff;
    color: #000;
}

.footer_newsletter_payments {
    float: left;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_about_us_unit {
    width: 240px;
}

.footer_about_us_text {
    text-align: justify;
}

.footer_phone_label,
.footer_email_label,
.footer_phone,
.footer_email {
    font-size: 14px;
}

.footer_phone_label,
.footer_email_label {
    margin-top: 15px;
    float: left;
    margin-right: 25px;
}

.footer_phone,
.footer_email {
    margin-top: 15px;
    float: left;
}

.footer_email {
    color: #faef03;
}

.footer_unit_links a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-family: "Roboto Regular", sans-serif;
    line-height: 20px;
}

.copyrights_wrap {
    height: 50px;
    background: #333;
}

.copyrights {
    line-height: 50px;
    font-size: 12px;
    width: 1170px;
    margin: 0 auto;
    font-family: "Roboto Regular", sans-serif;
}

.footer_socials {
    float: right;
}

.footer_socials i {
    font-size: 16px;
    margin-left: 14px;
}
