@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto Black Italic";
  src: url("../fonts/Roboto-Black-Italic.ttf");
}

@font-face {
  font-family: "Raleway Black";
  src: url("../fonts/Raleway-Black.ttf");
}

@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway Bold Italic";
  src: url("../fonts/Raleway-Bold-Italic.ttf");
}

@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/Raleway-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbeef2+0,8fc9d4+100 */
  background: rgb(219,238,242); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(219,238,242,1) 0%, rgba(143,201,212,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(219,238,242,1) 0%,rgba(143,201,212,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(219,238,242,1) 0%,rgba(143,201,212,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbeef2', endColorstr='#8fc9d4',GradientType=0 ); /* IE6-9 */
}

header {
  width: 100%;
  float: left;
  height: 700px;
  background: url("../images/index-back.jpg") no-repeat;
  background-size: cover;
}

.header_container {
  width: 1170px;
  height: 100%;
  background: url("../images/logo.png") no-repeat 69px 24px;
  margin: 0 auto;
  position: relative;
}

.welcome {
  width: 270px;
  height: 300px;
  background: #9ed0db;
  color: #333;
  position: absolute;
  top: 335px;
}

.welcome_head {
  font-family: "Raleway Bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  top: 76px;
  line-height: 1.1;
  left: 26px;
}

.welcome_desc {
  font-family: "Raleway Bold Italic", sans-serif;
  font-size: 18px;
  font-style: italic;
  position: relative;
  left: 23px;
  top: 94px;
  line-height: 0.8;
}

.header_social {
  position: absolute;
  right: 55px;
  top: 50px;
}

.header_social a {
  color: #9ed0db;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
  text-shadow: 1px 1px 1px #000000;
}

.header_social a:hover {
  color: #337D8E;
}

.header_promo {
  position: absolute;
  right: 128px;
  top: 237px;
}

.header_promo_main {
  font-size: 48px;
  color: #9ed0db;
  font-family: "Raleway Bold", sans-serif;
  text-transform: uppercase;
  line-height: 0.8;
  text-shadow: 1px 1px 2px #5e5e5e;
}

.header_promo_desc {
  font-family: "Raleway Regular", sans-serif;
  font-size: 18px;
  color: #9ed0db;
  margin-top: 4px;
  line-height: 1.35;
  text-shadow: 1px 1px 1px #000000;
}

.header_promo_link {
  color: #000;
  background: #9ed0db;
  padding: 19px 28px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Raleway Black", sans-serif;
  display: inline-block;
  text-decoration: none;
  margin-top: 60px;
}

.header_promo_link:hover {
  background: #fff;
}

main {
  min-height: 830px;
  width: 100%;
  float: left;
}

.main_container {
  width: 1170px;

  background: pink;
  margin: 0 auto;
}

.left_main {
  width: 270px;
  float: left;
  margin-top: -20px;
}

.menu_main {
  width: 100%;
  background: #9ed0db;
  padding: 0;
  margin: 0;

}

.menu_main li {
  list-style-type: none;
}

.menu_main li a {
  display: block;
  padding: 15px 42px;
  font-family: "Roboto Black", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.menu_main li a:hover {
  background: #333333;
  color: white;
}

.menu_main li:first-child a {
  color: white;
  padding: 25px 42px;
  background: #333333;

}

.right_main {
  width: 871px;
  float: right;
  margin-top: -20px;
}

.b_under_menu_wrap {
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  margin-top: 30px;
}

.b_under_menu {
  background: url("../images/store.jpg") no-repeat;

  font-family: "Raleway Black", sans-serif;
  font-style: italic;
  font-size: 36px;
  text-transform: uppercase;
  color: #9ed0db;
  text-shadow: 1px 1px 2px #5e5e5e;
  padding: 169px 57px 32px 116px;
}

.header_products {
  color: #707070;
  font-family: "Roboto Black", sans-serif;
  font-style: italic;
  font-size: 22px;
  text-transform: uppercase;
  padding: 30px;
  background: #f8f8f8;
  margin-bottom: 30px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.products_wrap {
  float: left;
}

.product_unit {
  background: #fff;
  width: 270px;
  height: 320px;
  padding: 10px;
  box-sizing: border-box;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
}

.product_unit_new,
.product_unit_hot {
  font-size: 9px;
  font-family: "Roboto Regular", sans-serif;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  height: 45px;
  text-align: right;
  padding: 7px 4px 0 0;
  box-sizing: border-box;
}
.pro
.product_unit_new {
  color: #fff;
  background: url("../images/new-corner.png") no-repeat right top;
}

.product_unit_hot {
  color: #000;
  background: url("../images/hot-corner.png") no-repeat right top;
}

.product_unit:nth-child(3n) {
  margin-right: 0;
}

.product_unit img {
  width: 250px;
  height: 230px;
  margin-bottom: 16px;
}

.product_name {
  width: 160px;
  float: left;
  font-size: 14px;
  font-family: "Roboto Black Italic", sans-serif;
  max-height: 2.2em;
  overflow: hidden;
}

.product_price {
  width: 85px;
  float: right;
  text-align: right;
  font-size: 18px;
  font-family: "Roboto Black Italic", sans-serif;
  line-height: 0.95;
}

.product_old_price {
  font-size: 14px;
  text-decoration: line-through;
  color: #e24602;
}

.brands {
  width: 100%;
  float: left;
  background: #fff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.instagram_feed {
  width: 100%;
  float: left;
  background: #eaeaea;
}

.instagram_feed_head {
  width: 100%;
  float: left;
  text-align: center;
  font-family: "Roboto Black Italic", sans-serif;
  font-size: 22px;
  color: #333;
  margin-top: 30px;
}

.instagram_feed_head i {
  font-size: 36px;
  font-weight: bold;
  position: relative;
  bottom: -5px;
}

.instagram_feed_head span {
  font-size: 18px;
}

.instagram_feed_images {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.instagram_feed_images img {
  border: 7px solid #fff;
}

.big_socials {
  width: 100%;
  float: left;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
}

.big_socials > a {
  width: 33.3333333333333333%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.big_socials > a i {
  color: #fff;
  font-size: 4.5rem;
}

.bs_facebook {
  background: #3b5997;
}

.bs_twitter {
  background: #3fccfd;
}

.bs_pinterest {
  background: #cb2027;
}

footer {
  width: 100%;
  float: left;
  height: 350px;
  background: #373737;
  color: #fff;
  font-family: "Roboto Regular", sans-serif;
  font-size: 12px;
}

.footer_container {
  width: 1170px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 43px;
  box-sizing: border-box;
}

.footer_unit_head {
  font-size: 18px;
  font-family: "Raleway Black", sans-serif;
  margin-bottom: 30px;
}

.footer_unit_newsletter_unit {
  width: 250px;
}

.footer_unit_newsletter_text {
  margin-bottom: 20px;
}

.footer_unit_newsletter_unit input,
.footer_unit_newsletter_unit button {
  float: left;
  height: 30px;
  line-height: 30px;
}

.footer_unit_newsletter_unit input {
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  background: #fff51f;
  font-family: "Roboto Bold", sans-serif;
}

.footer_unit_newsletter_unit input:focus,
.footer_unit_newsletter_unit button:active,
.footer_unit_newsletter_unit button:focus {
  outline: none;
}

.footer_unit_newsletter_unit button {
  text-transform: uppercase;
  border: none;
  background: #000;
  color: #fff;
  padding: 0 13px;
  cursor: pointer;
  height: 32px;
}

.footer_unit_newsletter_unit button:hover {
  background: #fff;
  color: #000;
}

.footer_newsletter_payments {
  float: left;
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_about_us_unit {
  width: 240px;
}

.footer_about_us_text {
  text-align: justify;
}

.footer_phone_label,
.footer_email_label,
.footer_phone,
.footer_email {
  font-size: 14px;
}

.footer_phone_label,
.footer_email_label {
  margin-top: 15px;
  float: left;
  margin-right: 25px;
}

.footer_phone,
.footer_email {
  margin-top: 15px;
  float: left;
}

.footer_email {
  color: #faef03;
}

.footer_unit_links a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-family: "Roboto Regular", sans-serif;
  line-height: 20px;
}

.copyrights_wrap {
  height: 50px;
  background: #333;
}

.copyrights {
  line-height: 50px;
  font-size: 12px;
  width: 1170px;
  margin: 0 auto;
  font-family: "Roboto Regular", sans-serif;
}

.footer_socials {
  float: right;
}

.footer_socials i {
  font-size: 16px;
  margin-left: 14px;
}