@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSansRegular.ttf");
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Regular", sans-serif;
}
header {
  width: 100%;
  background: url("../images/index/header-back.jpg") no-repeat;
  background-size: cover;
  height: 700px;
}
@media all and (min-width: 480px) and (max-width: 767px) {
  header {
    height: 800px;
  }
}
@media all and (max-width: 479px) {
  header {
    height: 850px;
  }
}
header .navbar {
  border-radius: 0;
  border: none;
  background: rgba(0, 0, 0, 0.5);
}
header .navbar .container-fluid .navbar-brand {
  color: #d3d3d3;
  background: url("../images/site/logo.svg") no-repeat left center;
  background-size: 25%;
  padding-left: 50px;
  margin-left: 0;
}
@media all and (min-width: 480px) and (max-width: 767px) {
  header .navbar .container-fluid .navbar-brand {
    margin-left: 15px;
  }
}
@media all and (max-width: 479px) {
  header .navbar .container-fluid .navbar-brand {
    margin-left: 15px;
  }
}
header .navbar .container-fluid .navbar-nav > li > a {
  font-size: 17px;
  color: #d3d3d3;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header .navbar .container-fluid .navbar-nav > li > a:hover {
  color: #B3F36D;
  background: rgba(0, 0, 0, 0.5);
}
@media all and (min-width: 768px) and (max-width: 991px) {
  header .navbar .container-fluid .navbar-nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
  }
}
header .navbar .container-fluid .navbar-toggle:hover,
header .navbar .container-fluid .navbar-toggle:focus {
  background: none;
}
header .navbar .container-fluid .navbar-toggle span {
  background-color: #d3d3d3;
}
header .navbar .container-fluid .navbar-collapse {
  border: none;
}
header .jumbotron {
  margin-top: 10%;
  background: none;
  color: #d3d3d3;
  text-align: justify;
  text-shadow: 1px 1px 2px #000;
}
header .jumbotron .btn {
  background: rgba(0, 0, 0, 0.8);
  color: #d3d3d3;
  text-shadow: none;
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
header .jumbotron .btn:hover {
  color: #b3f36d;
  background: rgba(0, 0, 0, 0.7);
}
main .benefitsWrap {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
main .benefitsWrap .benefitsHead {
  font-size: 4rem;
  text-align: center;
}
main .benefitsWrap .benefitUnit {
  position: relative;
  box-sizing: border-box;
}
main .benefitsWrap .benefitUnit .benefitIcon {
  height: 150px;
  width: 100%;
  padding-top: 20px;
}
main .benefitsWrap .benefitUnit .benefitIcon img {
  height: 100%;
  display: flex;
  margin: 0 auto;
}
main .benefitsWrap .benefitUnit .benefitHead {
  width: 100%;
  float: left;
  text-align: center;
  padding: 20px;
  font-size: 1.8em;
}
main .benefitsWrap .benefitUnit .benefitText {
  font-size: 1.2em;
  padding: 20px 45px;
  text-align: justify;
}
main .servicesWrap {
  background: url("../images/index/services/services-back.png");
  padding-top: 100px;
  padding-bottom: 100px;
}
main .servicesWrap .servicesHead {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 50px;
}
main .servicesWrap .carousel-inner img {
  width: 100%;
}
main .reviewsWrap {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../images/index/reviews/reviews-back.png");
}
main .reviewsWrap .reviewsHead {
  font-size: 4rem;
  text-align: center;
  color: #d3d3d3;
  margin-bottom: 50px;
}
main .reviewsWrap .reviewsContent {
  color: #d3d3d3;
  margin-bottom: 50px;
}
main .reviewsWrap .reviewsContent:last-child {
  margin-bottom: 0;
}
@media all and (max-width: 479px) {
  main .reviewsWrap .reviewsContent .media-left {
    display: block;
  }
}
@media all and (max-width: 479px) {
  main .reviewsWrap .reviewsContent .media-left a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
}
main .reviewsWrap .reviewsContent .media-body {
  text-align: justify;
}
@media all and (max-width: 479px) {
  main .reviewsWrap .reviewsContent .media-body {
    display: block;
    width: 100%;
  }
}
main .reviewsWrap .reviewsContent .media-body .media-heading {
  color: #a9825a;
}
main .reviewsWrap .media-left img {
  border-radius: 50%;
}
main .discountWrap {
  height: 700px;
}
main .discountWrap .discountBack {
  min-width: 100%;
  height: 1080px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: url("../images/index/discount/discount-back.jpg") no-repeat;
}
main .discountContent {
  width: 100%;
  height: 700px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .discountContent .discountHead {
  font-size: 63px;
  text-align: center;
  font-weight: bold;
  color: #d3d3d3;
  text-shadow: 1px 1px 2px #000;
}
main .discountContent .discountText {
  width: 50%;
  text-align: justify;
  font-size: 2rem;
  margin: 20px 0;
  color: #d3d3d3;
  text-shadow: 1px 1px 2px #000;
  font-weight: bold;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  main .discountContent .discountText {
    width: 90%;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  main .discountContent .discountText {
    width: 90%;
  }
}
@media all and (max-width: 479px) {
  main .discountContent .discountText {
    width: 95%;
  }
}
main .discountContent button {
  background: rgba(0, 0, 0, 0.8);
  color: #b3f36d;
  text-shadow: none;
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 20px 35px;
}
main .discountContent button:hover {
  color: #d3d3d3;
  background: rgba(0, 0, 0, 0.7);
}
footer {
  position: relative;
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("../images/site/footer-back.png");
}
footer .footerLinksWrap a {
  display: block;
  color: #d3d3d3;
  font-size: 1.8rem;
}
footer .footerLinksWrap a:hover {
  color: #a9825a;
}
@media all and (min-width: 480px) and (max-width: 767px) {
  footer .footerLinksUnit {
    float: left;
    width: 33.3333333%;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 479px) {
  footer .footerLinksUnit {
    margin-bottom: 20px;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  footer .footerAddressWrap {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
footer .footerAddressWrap address {
  color: #d3d3d3;
  font-size: 1.73rem;
}
footer .footerAddressWrap address strong {
  color: #a9825a;
}
footer .copyrights {
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
  color: #d3d3d3;
}
