@import "variables";

body {
  padding: 0;
  margin: 0;
  font-family: @mainFont;
}

header {
  width: 100%;
  background: url("../images/index/header-back.jpg") no-repeat;
  background-size: cover;
  height: 700px;

  .respond-to(wide-phones; {
    height: 800px;
  });

  .respond-to(phones; {
    height: 850px;
  });

  .navbar {
    border-radius: 0;
    border: none;
    background: fadeOut(@darkColor, 50%);

    .container-fluid {

      .navbar-brand {
        color: @majorColor;
        background: url("../images/site/logo.svg") no-repeat left center;
        background-size: 25%;
        padding-left: 50px;
        margin-left: 0;

        .respond-to(wide-phones; {
          margin-left: 15px;
        });

        .respond-to(phones; {
          margin-left: 15px;
        });
      }

      .navbar-nav > li > a {
        font-size: 17px;
        color: @majorColor;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        &:hover {
          color: #B3F36D;
          background: fadeOut(@darkColor, 50%);
        }

        .respond-to(tablets; {
          padding-right: 10px;
          padding-left: 10px;
        });
      }

      .navbar-toggle {

        &:hover,
        &:focus {
          background: none;
        }

        span {
          background-color: @majorColor;
        }
      }

      .navbar-collapse {
        border: none;
      }
    }
  }

  .jumbotron {
    margin-top: 10%;
    background: none;
    color: @majorColor;
    text-align: justify;
    .textShadow();

    .btn {
      .button(@majorColor, @greenColor);
    }
  }
}

main {
  .benefitsWrap {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;

    .benefitsHead {
      .head();
    }

    .benefitUnit {
      position: relative;
      box-sizing: border-box;

      .benefitIcon {
        height: 150px;
        width: 100%;
        padding-top: 20px;

        img {
          height: 100%;
          display: flex;
          margin: 0 auto;
        }
      }

      .benefitHead {
        width: 100%;
        float: left;
        text-align: center;
        padding: 20px;
        font-size: 1.8em;
      }

      .benefitText {
        font-size: 1.2em;
        padding: 20px 45px;
        text-align: justify;
      }
    }
  }

  .servicesWrap {
    background: url("../images/index/services/services-back.png");
    padding-top: 100px;
    padding-bottom: 100px;

    .servicesHead {
      .head();
      margin-bottom: 50px;
    }

    .carousel-inner {

      img {
        width: 100%;
      }
    }
  }

  .reviewsWrap {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url("../images/index/reviews/reviews-back.png");

    .reviewsHead {
      .head();
      color: @majorColor;
      margin-bottom: 50px;
    }

    .reviewsContent {
      color: @majorColor;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      .media-left {
        .respond-to(phones; {
          display: block;
        });

        a {
          .respond-to(phones; {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 20px;
          });
        }
      }

      .media-body {
        text-align: justify;

      .respond-to(phones; {
        display: block;
        width: 100%;
      });

        .media-heading {
          color: @hoverColor;
        }
      }
    }

    .media-left {
      img {
        border-radius: 50%;
      }
    }
  }

  .discountWrap {
    height: 700px;

    .discountBack {
      min-width: 100%;
      height: 1080px;
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      background: url("../images/index/discount/discount-back.jpg") no-repeat;
    }
  }

  .discountContent {
    width: 100%;
    height: 700px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .discountHead {
      font-size: 63px;
      text-align: center;
      font-weight: bold;
      color: @majorColor;
      .textShadow();
    }

    .discountText {
      width: 50%;
      text-align: justify;
      font-size: 2rem;
      margin: 20px 0;
      color: @majorColor;
      .textShadow();
      font-weight: bold;

      .respond-to(tablets; {
        width: 90%;
      });

      .respond-to(wide-phones; {
        width: 90%;
      });

      .respond-to(phones; {
        width: 95%;
      });
    }

    button {
      .button(@greenColor, @majorColor);
      border: none;
      padding: 20px 35px;
    }
  }
}

footer {
  position: relative;
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("../images/site/footer-back.png");

  .footerLinksWrap a {
    display: block;
    color: @majorColor;

    font-size: 1.8rem;

    &:hover {
      color: @hoverColor;
    }
  }

  .footerLinksUnit {
    .respond-to(wide-phones; {
      float: left;
      width: 33.3333333%;
      margin-bottom: 20px;
    });

    .respond-to(phones; {
      margin-bottom: 20px;
    });
  }

  .footerAddressWrap {
    .respond-to(wide-phones; {
      width: 100%;
      float: left;
      display: flex;
      flex-direction: row;
      justify-content: center;
    });

    address {
      color: @majorColor;
      font-size: 1.73rem;

      strong {
        color: @hoverColor;
      }
    }
  }

  .copyrights {
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: @majorColor;
  }
}