@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSansRegular.ttf");
}

@darkColor: #000000;
@majorColor: #d3d3d3;
@hoverColor: #a9825a;
@greenColor: #B3F36D;

@mainFont: "Open Sans Regular", sans-serif;

.textShadow() {
  text-shadow: 1px 1px 2px #000;
}

.button(@mainColor, @hoverColor) {
  background: fadeOut(@darkColor, 20%);
  color: @mainColor;
  text-shadow: none;
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;

  &:hover {
    color: @hoverColor;
    background: fadeOut(@darkColor, 30%);
  }
}

.head() {
  font-size: 4rem;
  text-align: center;
}

.respond-to(@device, @content) {
  & when (@device = phones) {
    @media all and (max-width: 479px) { @content(); }
  }
  & when (@device = wide-phones) {
    @media all and (min-width: 480px) and (max-width: 767px) { @content(); }
  }
  & when (@device = tablets) {
    @media all and (min-width: 768px) and (max-width: 991px) { @content(); }
  }
  & when (@device = small-desktops) {
    @media all and (min-width: 992px) and (max-width: 1199px) { @content(); }
  }
  & when (@device = lg-desktops) {
    @media all and (min-width: 1200px) and (max-width: 1440px) { @content(); }
  }
  & when (@device = xlg-desktops) {
    @media all and (min-width: 1441px) and (max-width: 1920px) { @content(); }
  }
}
